<% include ./partials/header %>




<!-- Page Header -->
<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1542838686-ddebb563fef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <% foundBlogs.forEach( (d)=>{ %>
  <div class="row">
    <div class="col-lg-3  mx-auto">
      <img class="img-thumbnail" src="<%=d.comImage%>" alt="blog images">
      </div>

    <div class="col-lg-9  mx-auto">
      <div class="post-preview">
        <a href="/blogs/<%=d._id%>">
          <h2 class="post-title">
            <%=  d.title %>
          </h2>
          <h3 class="post-subtitle">
            <%= d.comSentence %>
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#"></a>
            <%= d.date %></p>
      </div>
      <hr>


      <!-- Pager -->

    </div>
  </div>
  <% }); %>
  <div class="clearfix">
    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
  </div>
</div>

<hr>





<% include ./partials/footer %>
